/* Start Variables */
:root {
  --main-color: #10cab7;
}
/* End Variables */
/*Start Components*/
.special-heading {
  margin: 40px 0 80px;
}
.special-heading h2 {
  color: #ebeced;
  font-size: 120px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading p {
  margin: -35px 0 0;
  text-align: center;
}
@media (max-width: 767px) {
  .special-heading h2 {
    font-size: 77px;
    letter-spacing: -2px;
  }
  .special-heading p {
    margin: -23px 0 0;
  }
}
/*End Components*/
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", "sans-serif";
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 922pxp) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
  cursor: pointer;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  direction: rtl;
}
.header .links:hover ul {
  display: block;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
}
.header .links .icon span:first-child {
  width: 100%;
  height: 3px;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  height: 2px;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.header .links .icon span:nth-child(3) {
  width: 100%;
  height: 3px;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  min-width: 200px;
  display: none;
  z-index: 1;
}
.header .links ul:before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(images/background.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 320px;
  max-width: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}
.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* End Landing */
/* Start Features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  padding: 15px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
  font-size: 40px;
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* End Features */
/* Start Services */
.services .container .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
.services .container .services-content .srv {
  display: flex;
}
@media (max-width: 767px) {
  .services .container .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .container .services-content .srv i {
  flex-basis: 30px;
  font-size: 30px;
  color: var(--main-color);
}
.services .container .services-content .srv .text {
  flex: 1;
  margin-left: 30px;
}
.services .container .services-content .srv h3 {
  margin: 0;
  font-weight: 800;
  font-size: 25px;
}
@media (max-width: 767px) {
  .services .container .services-content .srv h3 {
    margin-top: 20px;
  }
  .services .container .services-content .srv i {
    margin-top: 30px;
  }
}
.services .container .services-content .srv p {
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
.services .container .services-content .image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  position: relative;
}
.services .container .services-content .image::before {
  content: "";
  width: 120px;
  height: calc(100% + 20px);
  background-color: #607d8b;
  position: absolute;
  right: 10px;
}
.services .container .services-content .image img {
  width: 200px;
  z-index: 1;
}
@media (max-width: 1199px) {
  .services .container .services-content .image {
    display: none;
  }
}
/* End Services */
/* Start Portfolio */
.Portfolio {
  background-color: #f6f6f6;
}
.Portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.Portfolio .portfolio-content .card {
  background-color: white;
  margin-bottom: 40px;
}
.Portfolio .portfolio-content .card img {
  width: 100%;
}
.Portfolio .portfolio-content .card .info {
  padding: 20px;
}
.Portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.Portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.7;
}
/* End Portfolio */
/* Start About */
.about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .left {
  position: relative;
}
.about .about-content .left img {
  width: 200px;
  height: 250px;
}
.about .about-content .left::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #607d8b;
  top: -40px;
  left: -50px;
  z-index: -1;
}
.about .about-content .left::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 200px;
  border-left: solid 60px var(--main-color);
  border-bottom: solid 50px var(--main-color);
  right: -130px;
  top: -38px;
  z-index: -1;
}
.about .about-content .right {
  flex-basis: calc(100% - 500px);
}
.about .about-content .right p:first-child {
  font-weight: bold;
  font-size: 17px;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .right hr {
  background-color: var(--main-color);
  height: 3px;
}
.about .about-content .right p:last-child {
  color: #777;
  font-size: 13px;
}
@media (max-width: 1199px) {
  .about .about-content .left {
    display: none;
  }
  .about .about-content .right {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .about .about-content .right {
    flex-basis: 90%;
    text-align: center;
  }
  .about .about-content .right p:first-child {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .about .about-content .right p:last-child {
    font-size: 11px;
  }
}
/* End About */
/* Start Contact */
.contact {
  margin-top: 100px;
  background-color: #f6f6f6;
}
.contact .container .contact-content {
  text-align: center;
}
.contact .container .contact-content p:first-child {
  font-size: 30px;
  font-weight: 800;
  color: #607d8b;
  letter-spacing: -1px;
  margin:  0 0 10px;
}
.contact .container .contact-content p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
  margin: 0;
  cursor: pointer;
}
.contact .container .contact-content p:nth-child(3) {
  color: #777;
}
.contact .container .contact-content p:nth-child(3) span {
display: inline-block;
margin-left: 10px;
}
.contact .container .contact-content p:nth-child(3) span i {
  padding: 5px;
  cursor: pointer;
}
.contact .container .contact-content p:nth-child(3) span i:nth-child(1) {
  color: blue;
}
.contact .container .contact-content p:nth-child(3) span i:nth-child(2) {
color: red;
}
.contact .container .contact-content p:nth-child(3) span i:nth-child(3) {
  color: #10cab7;
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: #607d8b;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  color: var(--main-color);
  cursor: pointer;
  font-weight: bold;
}
/* End Footer */
